.closeIcon {
  display: flex;
  gap: 4px;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 16px;
}
.closeIcon div {
  background-color: #f5f8f3;
  width: 22px;
  height: 2px;
}
.manuIcon {
}
