.player {
  background-color: #181818;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0px 16px;
  height: 76px;
  color: #f5f8f3;
}
.player {
  margin-top: 12px;
  margin-bottom: 32px;
}
.player:nth-child(1) {
  margin-top: 32px;
  margin-bottom: 12px;
}
.player .playerTime {
  font-family: "Poiret One";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
}
.player .playerInfo {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.player .profile_image {
  background-image: url("../images/avatar1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 5px;
  margin-right: 8px;
  width: 52px;
  height: 52px;
}
.player .white {
  background-image: url("../images/avatar2.png");
}
.player p {
  margin: 0;
  font-family: "Gideon Roman", cursive;
}
.player .points {
  width: min-content;
  min-width: 24px;
  height: 24px;
  padding-inline: 4px;
  background-color: #f5f8f3;
  color: #181818;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-block: 4px;
}

@media only screen and (max-height: 731px) {
  .player {
    border-radius: 8px;
    padding: 0px 12px;
    height: 64px;
  }
  .player {
    margin-bottom: 16px;
  }
  .player:nth-child(1) {
    margin-top: 16px;
  }
  .player .playerTime {
    font-size: 32px;
  }

  .player .profile_image {
    width: 48px;
    height: 48px;
  }

  .player .points {
    min-width: 22px;
    height: 22px;
    margin-top: 4px;
    font-size: 15px;
  }
}
@media only screen and (max-width: 835px) {
  .player {
    background-color: #181818;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 32px);
    padding: 0px 16px;
    margin-inline: 16px;
    height: 76px;
    color: #f5f8f3;
    max-height: auto;
  }
}
